.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

body.dark {
  background-color: #121212;
}

.dark header {
  box-shadow: none;
  background-color: #353536;
}
.dark header p {
  color: #fff;
}
.dark header nav a {
  color: #fff;
}

.dark #product {
  box-shadow: none;
  background-color: #121212;
}
.dark #product h1 {
  color: #2196f3;
}
.dark #product .items {
  box-shadow: none;
  background: #353536;
}
.dark #product .items img {
  box-shadow: none;
}
.dark #product .items .infor {
  color: #2196f3;
}
.dark #product .items .buyNow {
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: all 0.7s;
}
.dark #product .items .buyNow :hover span {
  box-shadow: none;
  background-color: #2a73dd;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}

.dark #banner {
  background: url(../image/product-header-bg-dark.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 20px;
}
.dark #banner h1 {
  color: #2196f3;
}
.dark #banner h2 {
  color: #2196f3;
}
.dark #banner p {
  color: #fff;
}

.dark footer .img-light {
  display: none;
}
.dark footer .img-dark {
  display: block;
}

.toggleBar {
  position: fixed;
  top: 25%;
  right: 0;
  background: #2196f3;
  transform: translateX(100%);
  transition: all 0.5s;
}
.toggleBar .button {
  transform: translateX(-40%);
  border-radius: 8px 0px 0px 8px;
  background: #2196f3;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
}
.toggleBar .content {
  color: #fff;
  padding: 5px 10px;
}
.toggleBar .content input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #2a73dd;
  border-radius: 45px;
  position: relative;
  transition: all 0.7s;
}
.toggleBar .content input::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transition: cubic-bezier(0.23, -0.65, 0.95, 1.78) all 0.6s;
}
.toggleBar .content input:checked::before {
  left: 28px;
}

header {
  background: #f5f9fe;
  box-shadow: 0px 2px 4px #e2ebfc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #2a73dd;
}
header nav a {
  color: #1d365e;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}
header nav a:hover,
header nav a.active {
  color: #2a73dd;
}
header nav a::after {
  content: "";
  position: absolute;
  background: #2a73dd;
  height: 2px;
  width: 0%;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
header nav a:hover::after,
header nav a.active::after {
  width: 100%;
}

#banner {
  background: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 225px h1;
}
#banner h2 {
  color: #1d365e;
}
#banner p {
  color: #656774;
}

#product {
  background-color: #f5f9fe;
}
#product .items {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 10px;
}
#product .items img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 10px;
}
#product .rating .buyNow {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 10px;
}
#product .rating .buyNow button {
  border-radius: 3px;
}
#product .rating .buyNow span {
  font-size: 12px;
  padding: 8px 20px;
}

footer {
  background-color: #2a73dd;
}
footer .img-light {
  display: block;
}
footer .img-dark {
  display: none;
}

.open {
  transform: translateX(0%);
} /*# sourceMappingURL=index.css.map */
