$color-blue-1: #2a73dd;
$color-blue-2:#1d365e;
$color-blue-3:#2196f3;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-black-1: #121212;
$color-black-2:#353536;

@mixin boxshadow(){
     box-shadow: 6px 6px 12px $color-white-2, -6px -6px 12px $color-white-3;
     border-radius: 10px ;
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
body.dark{
  background-color: $color-black-1;
}
.dark header{
  box-shadow: none;
  background-color: $color-black-2;
    p{
      color: #fff;
    }
    nav a{
      color: #fff;
    }
}
.dark #product{
  box-shadow: none;
  background-color: $color-black-1;
    h1{
      color: $color-blue-3;
    }
    .items{
      box-shadow: none;
      background: $color-black-2;
      img{
        box-shadow: none;
      }
      .infor{
        color: $color-blue-3;
      }
      .buyNow{
        box-shadow: none;
        border: 2px solid transparent;
        border-radius: 3px;
        transition: all 0.7s;     
        :hover span{
          box-shadow: none;
          background-color: $color-blue-1;
          color: #fff;
          font-size: 12px;
          border-radius: 3px;
        }
      }
    }
}
.dark #banner{
  background: url(../image/product-header-bg-dark.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 20px;
    h1{
      color: $color-blue-3;
    }
    h2{
      color: $color-blue-3;
    }
    p{
      color: #fff;
    }
}
.dark footer{
  .img-light{
    display: none;
  }
  .img-dark{
    display: block;
  }
}
.toggleBar{
  position: fixed;
  top: 25%;
  right: 0;
  background: $color-blue-3;
  transform: translateX(100%);
  transition: all .5s;
    .button{
      transform: translateX(-40%);
      border-radius: 8px 0px 0px 8px ;
      background: $color-blue-3;
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      outline: none;
    }
    .content{
      color: #fff;
      padding: 5px 10px;
        input{
          appearance: none;
          width: 50px;
          height: 25px;
          background: $color-blue-1;
          border-radius: 45px;
          position: relative;
          transition: all 0.7s;
          &::before{
            content: "";
            position: absolute;
            top: 2px;
            left: 3px;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50% ;
            transition: cubic-bezier(.23,-0.65,.95,1.78) all 0.6s;
          }
          &:checked::before{
            left: 28px;
          }
        }
    }
}
header {
  background: $color-white-1;
  box-shadow: 0px 2px 4px $color-white-2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: $color-blue-1;
  }
  nav {
    a {
      color: $color-blue-2;
      text-decoration: none;
      position: relative;
      transition: all 0.5s;
      &:hover,
      &.active{
        color: $color-blue-1;
      }
      &::after{
          content: "";
          position: absolute;
          background: $color-blue-1;
          height: 2px;
          width: 0%;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);    
          transition: all .5s;
      }
      &:hover::after,
      &.active::after{
        width: 100%;
      }
    }   
  }
};
#banner{
  background: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 225px
  h1{
    color: $color-blue-1;
  }
  h2{
    color: $color-blue-2;
  }
  p{
    color:#656774;
  }
};
#product{
  background-color: $color-white-1;
  .items{
    @include boxshadow();
    img{
      @include boxshadow();
    }
  }
  .rating{
    .buyNow{
      @include boxshadow();
      button{
        border-radius: 3px;
      }
      span{
        font-size: 12px;
        padding: 8px 20px;
      }
    }
  }
};
footer{
  background-color: $color-blue-1;
  .img-light{
    display: block;
  }
  .img-dark{
    display: none;
  }
}
.open{
  transform: translateX(0%);
}